@font-face {
  font-family: "Bahnschrift";
  src: url(./src/Styles/Fuentes/bahnschrift_1-webfont.woff2) format("woff2"),
    url(./src/Styles/Fuentes/bahnschrift_1-webfont.woff) format("woof");
  font-weight: normal;
  font-style: normal;
}
